/******************* section discover *********************/

.section__discover {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;

    @media (min-width: 700px) {
        &__discover__text {
            order: 1;
            width: 343px;
        }
    }

    @media (min-width: $screen-large) {
        padding-top: 80px;
    }

    &-card {
        flex-basis: 100%;

        @media (min-width: $screen-medium) {
            flex-basis: 48%;
        }

        @media (min-width: $screen-large) {
            flex-basis: 32%;
        }

        &__price-wrapper,
        &__value-wrapper {
            display: flex;
            justify-content: space-between;
            width: 100%;
            font-weight: 400;
            line-height: 110%;
        }

        &__price-wrapper {
            margin-bottom: 8px;
            color: $color-gray;
            font-size: 12px;
        }

        &__value-wrapper {
            font-size: 12px;
            color: $color-white;

            @media (min-width: $screen-medium) {
                font-size: 16px;
            }
        }

    }

    .third-card {
        @media (min-width: $screen-medium) {
            display: none;
        }

        @media (min-width: $screen-large) {
            display: block;
        }
    }

    & .card-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;
        margin-bottom: 60px;

        @media (min-width: 700px) {
            order: 3;
            justify-content: space-between;
            -moz-column-gap: 0;
            column-gap: 0;
        }
    }

    .card__content {
        background-color: $color-gray-dark;

        .card__profile {
            margin-bottom: 27px;
        }
    }
}