/******************* section magic mashroom *********************/

.container-section__mashroom {
    background-image: url("../assets/images/NFT-Highlight-1.png");
    background-repeat: no-repeat;
    background-size: 100%;

    @media (min-width: $screen-medium) {
        background-image: url("../assets/images/NFT-Highlight-2.png");
        background-position-y: 25%;
    }

    @media (min-width: $screen-large) {
        background-image: url("../assets/images/NFT-Highlight-3.png");
        height: 640px;
    }

    .gradient-helper {
        background: $gradient;
        height: 100%;
    }

    .section__mashroom {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;

        @media (min-width: $screen-medium) {
            align-items: flex-end;
            padding-bottom: 60px;
            height: 630px;
        }

        @media (min-width: $screen-large) {
            height: 640px;
        }

        &-content {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding-top: 120px;

            @media (min-width: $screen-medium) {
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
                width: 100%;
                gap: 0;
            }

            &-helper {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }


            .profile__icon-wrapper {
                display: flex;
                align-items: center;
                padding: 10px 20px;
                gap: 12px;
                background-color: $color-background;
                width: 151px;

                @media (min-width: $screen-medium) {
                    order: 1;
                }
            }

            .section-heading {
                font-size: 38px;
                font-weight: 600;
                line-height: 120%;

                @media (min-width: $screen-medium) {
                    order: 2;
                }

                @media (min-width: $screen-large) {
                    font-size: 51px;
                }
            }

            .timer {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 30px;
                gap: 10px;
                color: $color-white;
                width: 315px;
                height: 144px;
                font-family: $font-secondary;
                background: rgba(59, 59, 59, 0.5);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                border-radius: 20px;

                @media (min-width: $screen-medium) {
                    order: 4;
                }

                &___warning {
                    font-family: $font-secondary;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 110%;
                }

                &-wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                }

                .num-wrapper {
                    display: flex;
                    flex-direction: column;
                }

                .num-wrapper .number {
                    font-weight: 700;
                    font-size: 38px;
                    line-height: 120%;
                }

                .num-wrapper {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 110%;
                }
            }
        }
    }
}